body {
    background-image: url("../images/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topText {
    color:white;
    margin-left: 5%;
}

.nav-link {
    color: white;
}

.nav-tabs {
   float: right;
   background-color:black;
   font-size: larger;
   border-radius: 10px;
}

.nav-item a:hover {
    color: orange
}

.midText {
    color: white;
    margin-top: 150px;
    width: 65%;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    font-size:x-large
}