body {
    background-image: url("../images/nikita-kachanovsky-OVbeSXRk_9E-unsplash.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.topText {
    color:white;
    margin-left: 5%;
    font-family: 'Roboto Condensed'
}

.nav-link {
    color: white;
}

.nav-tabs {
   float: right;
   background-color:black;
   font-size: larger;
   border-radius: 10px;
}

.nav-item a:hover {
    color: orange
}

.midText {
    color: white;
    margin-top: 150px;
    width: 65%;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    font-size:x-large;
    font-family: 'Roboto Condensed'
}

.aboutText {
    color: white;
    margin-top: 150px;
    width: 65%;
    padding: 10px;
    /* text-align: center; */
    margin-left: 20%;
    font-size:x-large;
    font-family: 'Roboto Condensed'
}

.boxText {
    color: white;
    margin-top: 20px;
    width: 65%;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    font-size:x-large;
    font-family: 'Roboto Condensed'
}

.box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 2em;
    margin-left: 13%;
    margin-bottom: 10px;
}

.foot-link{
    display: inline-block;
    width: 80px;
    height: 70px;
    position: relative;
}

.foot-links {
    position: fixed;
    width: 279px;
    height: 50px;
    bottom: 10px;
    margin-left: 42%;
    background-color:white;
    border-radius: 20%;
    background-color: black;
}

.selfy {
    border-radius: 30px;
}

.picSide {
    position: fixed;
    margin-left: 210px;
    margin-top: -250px;
    width: 50%;
}

.contact-row {
    color: white;
    margin-top: 150px;
    width: 65%;
    padding: 10px;
    text-align: center;
    margin-left: 20%;
    font-size:x-large
}

.nameText {
    margin-left: -150px;
    font-family: 'Roboto Condensed'
}

.text-input {
    border-radius: 20px;
    font-family: 'Roboto Condensed'
}

.boopBtn {
    background-color: rgb(3, 88, 114);
    color: white;
    border-radius: 25px;
    border-color: rgb(3, 79, 114);
    width: 120px;
    height: 55px;
    font-family: 'Roboto Condensed'
}

.frontEl {
    position: fixed;
    margin-top: 30px;
}

.backEl {
    position: fixed;
    margin-left: 200px;
    margin-top: 30px;
}